.home_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search_bar {
	margin: 20px auto;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search_bar>input {
	/* margin-left: 20px; */
	width: 35rem;
}

.home_calendar_wrap {
	width: 99%;
	height: 300px;
	border: 1px solid black;
}

.home_calendar_center {
	width: 40%;
	height: 100%;
	border: 1px solid black;
	margin: 0px auto
}

.home_lower_wrap {
	width: 99%;
	border: 1px solid black;
	height: 230px;
	display: flex;
	justify-content: center;
}

.home_lower_deadline {
	width: 50%;
	border: 1px solid black;
}