.home_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search_bar {
	margin: 20px auto;
	min-width: 710px;
	min-height: 57px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 7px;
	padding: 0px 10px;
}

.search_bar_find_img{
	background-image: url(../../img/find_img.PNG);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	min-width: 50px;
	min-height: 56px;
}

.search_bar>input {
	/* margin-left: 20px; */
	width: 500px;
	border: 0px;
	min-height: 40px;
}

.search_bar > button {
	min-width: 142px;
	min-height: 40px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 4px;
}

.home_calendar_wrap {
	width: 99%;
	height: 300px;
	border: 1px solid black;
}

.home_calendar_center {
	width: 40%;
	height: 100%;
	border: 1px solid black;
	margin: 0px auto
}

.home_lower_wrap {
	width: 99%;
	border: 1px solid black;
	height: 230px;
	display: flex;
	justify-content: center;
}

.home_lower_deadline {
	width: 50%;
	border: 1px solid black;
}