.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #34495e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
  padding: 2em;
  border-radius: 15px;
  width: 500px;
  height: 600px;
  background-color: #ecf0f1;
}

.range {
  display: flex;
  align-items: center;
  width: 100%;
}

.birth {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-bottom: 1em;
}

.input {
  border: none;
  outline: none;
  padding: 0.5em 0;
  border-bottom: 1px solid #3498db;
}

.place {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-bottom: 1em;
}

.button_box {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 45%;
  height: 2em;
  border-radius: 15px;
  border: none;
  background-color: #2980b9;
  color: white;
}
