.container {
  display: flex;
  padding: 0px 0px 0px 10px;
  margin: 10px 10px;
  flex-direction: column;
}

.type_header{
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.type_content_wrapper {
  display: flex;
}

.type_content {
  padding: 10px;
}

.type_content > label {
  margin-left: 5px;
}