.scrap_content {
	display: flex;
	flex-direction: column;
	height: 260px;
}

.scrap_card_wrapper {
	flex: 4;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.scrap_card {
	width: 80%;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 18px auto;
    background-color: #fff;
    text-align: center;
    height: 60%;
    line-height: 55px;
    font-weight: bold;
}

.scrap_seeMore {
	flex: 1;
	background-color: #5696f6;
	color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.scrap_loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 260px;
}