.scrap_content {
	display: flex;
	flex-direction: column;
	height: 260px;
}

.scrap_card_wrapper {
	flex: 4;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.scrap_card {
	width: 40%;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px;
	background-color: white;
	text-align: center;
	height: 40%;
}

.scrap_seeMore {
	flex: 1;
	background-color: #5696f6;
	color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.scrap_loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 260px;
}