.calendar_wrapper {
  height: 80vh;
  background-color: #D0DDFF;
  position: relative;
  display: flex;
}

.outer_wrapper {
  height: 28rem;
  display: flex;
}

.list_wrapper {
  width: 44rem;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.list_box {
  background-color: #5383FF;
  height: 28rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.list_header {
  flex: 1;
  background-color: #5383FF;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.8rem;
}

.list_content_wrapper {
  flex: 8;
  background-color: #ADC4FF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #5383FF;
}

.list_content_box {
  padding: 0.3rem;
  margin: 0 0.6rem;
  max-height: 15%;
  background-color: white;
}

.list_content_header {
  font-size: 1.2rem;
}

.list_content_body {
  height: 1.2rem;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}