.all_wrapper {
    /* background-color: #d0ddff; */
    padding-top: 120px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.title {
	font-size: 30px;
	font-weight: bold;
	height: 70px;
}

.content_wrapper{
	width: 95%;
}

.content_header {
	border-top: 2px solid black;
	text-align: center;
	display: flex;
	padding: 10px;
	font-weight: bold;
}

.header_id {
	flex: 1;
}

.header_title {
	flex: 25;
}

.header_notice {
	flex: 2;
	text-align: center;
}

.card_wrapper {
	border-top: 1px solid black;
	padding: 10px;
}

.card_box_wrap {
	border-top: 1px solid black;
	display: flex;
}

.card_box_id {
	flex: 1;
	text-align: center;
	line-height: 70px;
}

.card_box_center {
	flex: 25;
}


.card_title {
	line-height: 30px;
	font-size: 20px;
}

.card_content {
	line-height: 30px;
	font-size: 15px;
}

.card_box_notice {
	flex: 2;
	line-height: 70px;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center
}

.card_box_notice > button {
	background-color: red;
	color: white;
	width: 100%;
	height: 60%;
	line-height: 30px;
    border-radius: 10px
}

.card_box_notice > button:hover {
	opacity: 0.5 !important; 
}

.pageButton_wrapper {
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: center;
}

.pageButton_content {
	margin: 10px;
	border: 1px solid black;
	width: 30px;
}

.button_clicked {
	margin: 10px;
	border: 1px solid black;
	width: 30px;
	background-color: gray;
	color: white;
}