.nav_wrap {
  position: fixed;
  width: 100%;
  z-index: 500;
  top: 0%;
}

.nav_logout_box{
  display: flex;
}

.nav_reset_box {
  font-size: 13px;
  line-height: 1z0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;

}

.nav_reset_box > button {
  font-size: 13px;
  line-height: 50px;
  margin: 0px 10px;
  height: 20px;
  background-color: #7474e9;
  line-height: 0px;
  border-radius: 5px !important;
  padding: 3px;
}
/*
.nav_menu {
  display: flex;
  justify-content: space-evenly;
  height: inherit;
  min-width: 60%;
}

.nav_logo {
  background-size: cover;
  min-height: 4.5rem;
  min-width: 10.5rem;
  height: inherit;
  background-repeat: no-repeat;
  margin-right: 3rem;
}

.nav_menu>a {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-decoration: none;
  padding: auto;
}

.nav_login {
  margin-right: 1.2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.nav_logout {
  margin-right: 1.2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border: none;
  background-color: #5383ff;
} */
