.all_wrapper {
	width: 100vh;
}

.test1 {
	color: blue;
	margin-left: 100px;
	transition: margin-left 0.5s ease;
}

.test2 {
	/* color: red;
	position: absolute;
	left: 50px;
	margin-right: 500px;
	transition: left 0.5s ease; */
}