.wrap {
  display: flex;
  flex-direction: column;
  background-color: cyan;
}

.button_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: space-between;
}
